img.flower {
	width: 80%;
	/*object-fit: cover;*/
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	border: 10px solid #cccccc;

}

.stats {
  background-color: #222222;
  color: #cccccc;
  margin-left: 10%;
}

#burned {
  margin-left: 3%;
}

#goal {
  margin-left: 7.5%;
}


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
