<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><h5 class="navbar-text" >Hi, <%= current_user.username %></h5></li>
      </ul>
      <form id="logout-form" class="navbar-form navbar-right">
        <input class="btn btn-default" type="submit" value="Logout">
      </form>
  </div>
</div>