<div class='container'>
	<div class='jumbotron'>
		<h1>Fit Flower</h1>
		<p class="lead">A place to Get Fit</p>
	</div>

	<p><a class="btn btn-lg btn-success" href="#" role="button">Log into your FitBit account</a></p>
	
</div>