<div class='container'>
	<div class="body">
    <!-- pass this view an integer to determine flower picture -->
    <img class="flower" src="/images/10.png ">
	</div>

	<div class="stats">
	</div>
</div>
